body {
  font-family: "Poppins", sans-serif;
}
.heading {
  margin-top: 40px;
  text-align: center;
  font-size: 55px;
  font-weight: bolder;
  text-transform: uppercase;
}
.container {
  margin: 120px auto;
  padding: 40px;
  text-align: center;
  /* border: 2px solid red; */
  background-color: #1abc9c;
  width: 750px;
  border-radius: 10px;
}
.input-div {
  display: inline-block;
  margin: 10px;
}
.input-box {
  padding: 5px 10px;
  margin: 10px;
  font-size: 30px;
  text-align: center;
  width: 250px;
  height: 35px;
  background-color: #e8f4eb;
  border: 0;
}
label {
  font-size: 20px;
  font-weight: bold;
}
